<template>
    <v-container>
        <v-row class="mt-12">
            <v-col class="col-12"
            ><h1>Do<span style="color: #eeeeee">It</span></h1></v-col
            >
            <v-col class="col-3">
                <v-card class="pa-4" color="#eeeeee" flat>
                    <h2 class="mb-8">New Todo</h2>

                    <v-text-field
                            color="#4ecca3"
                            dense
                            label="Title"
                            outlined
                            required
                            v-model="title"
                    ></v-text-field>

                    <v-text-field
                            color="#4ecca3"
                            dense
                            label="Date"
                            outlined
                            required
                            type="date"
                            v-model="date"
                            @change="computedDateFormattedMomentjs"
                    ></v-text-field>

                    <v-textarea
                            color="#4ecca3"
                            dense
                            label="Text"
                            outlined
                            required
                            v-model="text"
                    ></v-textarea>

                    <v-combobox
                            dense
                            v-model="selectedCategories"
                            :items="categories"
                            :search-input.sync="search"
                            hide-selected
                            hint="Maximum of 4 Categories"
                            label="Category"
                            outlined
                            multiple
                            persistent-hint
                            small-chips
                    >
                        <template v-slot:no-data>
                            <v-list-item>
                                <v-list-item-content>
                                    <v-list-item-title>
                                        Kategorie "<strong>{{ search }}</strong>" nicht gefunden. Drücke <kbd>enter</kbd> um eine neue Kategorie zu erstellen.
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </template>
                    </v-combobox>

                    <v-btn @click="addtodo()" outlined  small color="#393e46">Add TodoX</v-btn>
                </v-card>
            </v-col>

            <v-col class="col-7 offset-2 ">

                <div class="mgrid">
                    <div v-for="todo in todos" :key="todo" class="ma-2 pa-4 box">
                        <h3>{{todo.title}}</h3>
                        <p>{{todo.date}}</p>

                           <v-chip v-for="category in todo.categories" :key="category"
                                   small
                                   :class="category"
                           >
                               {{category}}
                           </v-chip>

                        <p>
                            {{todo.text}}
                        </p>
                        <v-btn @click="removeTodo(todo.id)" class="mt-4" outlined  small color="#393e46">Done</v-btn>
                    </div>
                </div>


            </v-col>
        </v-row>
        <v-snackbar
                color="red"
                v-model="snackbar"
                timeout="2000"
        >
            Fehler: Titel oder Text fehlen.
        </v-snackbar>

        <v-snackbar
                color="red"
                v-model="snackbarDateInvalid"
                timeout="2000"
        >
            Fehler: Datum nicht richtig.
        </v-snackbar>

        <v-snackbar
                color="#4ecca3"
                v-model="snackbarUndo"
                timeout="10000"
        >
            Rückgängig machen

            <v-btn @click="undoDelete" small depressed>Undo</v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    import moment from 'moment'

    export default {
        name: "Home",

        data() {
            return {
                snackbar: false,
                snackbarUndo: false,
                snackbarDateInvalid: false,
                title: "",
                date: "",
                text: "",
                idcount:0,
                todos: [

                ],
                categories: ["work","private","important"],
                selectedCategories: [],
                search: null,
            };
        },




        methods: {
            addtodo: function () {
                if(this.title != "" || this.text != "" ){
                    if(!moment(this.date).isValid()){
                        this.snackbarDateInvalid = true
                        return
                    }

                    console.log(moment(this.date).isValid())
                    this.date = moment(this.date).format('DD.MM.YYYY');

                    this.todos.push(
                        {
                            id: this.idcount,
                            title: this.title,
                            date: this.date,
                            text: this.text,
                            categories: this.selectedCategories
                        }
                    )
                    this.idcount++;
                    this.title = "";
                    this.date = "";
                    this.text = "";
                    this.selectedCategories = [];
                }else {
                    this.snackbar = true;
                }

            },
            removeTodo: function (id) {

                let todo = this.todos.find(todo => todo.id === id);
                var index = this.todos.indexOf(todo);
                this.todos.splice(index, 1);
                this.lastTodo = todo;
                this.snackbarUndo = true;

            },

            undoDelete: function () {

                this.todos.splice(this.lastTodo.index+1, 0, this.lastTodo);
                this.snackbarUndo = false;
            }
        },
    };
</script>

<style>
    h1 {
        font-size: 72px !important;
        color: #4ecca3;
    }

    p {
        margin: 5px 0 0 0 !important;
    }

    .mgrid {
        -moz-column-width: 300px;
        -webkit-column-width: 300px;
        -moz-column-gap: 20px;
        -webkit-column-gap: 20px;

    }

    .box {
        display: inline-block;
        width: 100%;
        background: #eeeeee;
        border-radius: 2px;
    transition: 0.3s;

    }

    .box:hover {
        display: inline-block;
        width: 100%;
        background: #4ecca3;
        border-radius: 2px;

    }

    .work{
        background-color: #586ecc !important;
    }

    .private{
        background-color: #a1cc65 !important;;
    }

    .important{
        background-color: #cc5f66 !important;;
    }

</style>
