<template>
  <v-app>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({
    //
  })
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

p,
h1,
h2,
h3,
h4,
span,
body {
  font-family: "Fira Sans", sans-serif !important;
  color: #232931;
}

.v-application {
  background-color: #232931 !important;
  font-family: "Fira Sans", sans-serif !important;
}
</style>
